Repository CodiumTeam/web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run i18n:extract

Correct text
  src/404.html
  src/locales/en.json
  src/locales/es.json
Due: npm run i18n:extract

Fix inside docker there are no locale runing always as a default spanish
  vite.config.js
Due: eslint --fix

Refactor some code and inject lang into html
  build/extract-i18n.mjs
  build/utils.mjs
  server.mjs
  src/404.html
  src/index.html
  src/locales/en.json
  src/locales/es.json
  src/servicios.html
  src/tdd-challenge.html
  vite.config.js
Due: eslint --fix, npm run i18n:extract

Inject locale into lang attribute
  src/curso-docker.html
  src/curso-legacy-code.html
  src/curso-quality-assurance.html
  src/curso-refactoring-a-patrones.html
  src/curso-tdd.html
  src/desarrollo.html
  src/programa-de-aceleracion.html
  src/resources.html
  src/style-guide.html
Due: npm run i18n:extract

Translate some text
  src/index.html
  src/locales/en.json
  src/locales/es.json
  src/pages-content/home/hero.ejs
  src/partials/header/landing-navbar.ejs
Due: npm run i18n:extract

Search for t tags instead of a regex
  build/build.mjs
  build/extract-i18n.mjs
  build/utils.mjs
  package-lock.json
  package.json
  src/locales/en.json
  src/locales/es.json
  vite.config.js
Due: eslint --fix

Remove cache
  build/utils.mjs
Due: none

Translate home
  src/locales/en.json
  src/locales/es.json
  src/pages-content/common/teams.ejs
  src/pages-content/home/available-courses.ejs
  src/pages-content/home/hero.ejs
  src/pages-content/home/our-clients.ejs
  src/pages-content/home/our-services.ejs
  src/pages-content/home/things-we-do.ejs
  src/pages-content/home/values-and-methodology.ejs
  src/partials/contact-form.ejs
  src/partials/form-error.ejs
  src/partials/form-sent-successfully.ejs
Due: npm run i18n:extract

Mark which of keys are not translated yet
  build/extract-i18n.mjs
  build/i18n-utils.mjs
  build/utils.mjs
Due: none

add url-resolver
  build/url-resolver.mjs
  build/utils.mjs
  src/index.html
Due: npm run i18n:extract

Change urls of home
  src/pages-content/home/available-courses.ejs
  src/pages-content/home/our-services.ejs
  src/pages-content/home/things-we-do.ejs
Due: npm run i18n:extract

Fix icons
  src/sass/core/utilities.scss
Due: none

update devopment texts
  src/pages-content/development/methodology.ejs
Due: npm run i18n:extract

Close home translations
  build/i18n-utils.mjs
  build/utils.mjs
  src/js/challenge-app/components/CourseCard.jsx
  src/locales/en.json
  src/locales/es.json
  src/pages-content/home/values-and-methodology.ejs
  src/partials/cards/card-large-course.ejs
  src/partials/cards/card-large.ejs
  vite.config.js
Due: eslint --fix, npm run i18n:extract

Translate development
  build/url-resolver.mjs
  package-lock.json
  package.json
  src/desarrollo.html
  src/index.html
  src/locales/en.json
  src/locales/es.json
  src/pages-content/development/benefits.ejs
  src/pages-content/development/methodology.ejs
  src/pages-content/development/our-clients.ejs
  src/partials/header/landing-navbar.ejs
  src/partials/header/navbar.ejs
  vite.config.js
Due: eslint --fix, npm run i18n:extract

Translate last line of development
  src/locales/en.json
  src/locales/es.json
Due: none

Fix the wrong rebase
  src/pages-content/development/methodology.ejs
Due: npm run i18n:extract

Support multi line
  build/extract-i18n.mjs
  build/utils.mjs
Due: none

Refresh page when json changes too
  vite.config.js
Due: eslint --fix

Translate legacy
  build/i18n-utils.mjs
  package.json
  src/curso-docker.html
  src/curso-legacy-code.html
  src/curso-quality-assurance.html
  src/curso-refactoring-a-patrones.html
  src/curso-tdd.html
  src/locales/en.json
  src/locales/es.json
  src/pages-content/curso-common/course-card-information.ejs
  src/pages-content/curso-common/form.ejs
  src/pages-content/curso-legacy/benefits.ejs
  src/pages-content/curso-legacy/carousel-opinion.ejs
  src/pages-content/curso-legacy/content.ejs
  src/pages-content/curso-legacy/faqs.ejs
  src/pages-content/services/course.ejs
  src/pages-content/services/support.ejs
  src/pages-content/services/taller.ejs
  src/pages-content/style-guide/cards.ejs
  src/partials/methodology.ejs
  src/partials/summary-by-numbers.ejs
Due: npm run i18n:extract

Translate TDD
  build/url-resolver.mjs
  src/curso-tdd.html
  src/locales/en.json
  src/locales/es.json
  src/pages-content/curso-tdd/benefits.ejs
  src/pages-content/curso-tdd/carousel-opinion.ejs
  src/pages-content/curso-tdd/content.ejs
  src/pages-content/curso-tdd/faqs.ejs
Due: npm run i18n:extract

Recover image
  src/pages-content/curso-legacy/benefits.ejs
Due: npm run i18n:extract

Fix: Escape quotes to prevent 500 when tries to translate something with quotes
  build/extract-i18n.mjs
  build/utils.mjs
Due: none

Translate refactoring
  src/curso-refactoring-a-patrones.html
  src/locales/en.json
  src/locales/es.json
  src/pages-content/curso-docker/carousel-opinion.ejs
  src/pages-content/curso-refactoring-a-patrones/benefits.ejs
  src/pages-content/curso-refactoring-a-patrones/carousel-opinion.ejs
  src/pages-content/curso-refactoring-a-patrones/content.ejs
  src/pages-content/curso-refactoring-a-patrones/faqs.ejs
Due: npm run i18n:extract

Translate docker page
  src/curso-docker.html
  src/locales/en.json
  src/locales/es.json
  src/pages-content/curso-docker/benefits.ejs
  src/pages-content/curso-docker/carousel-opinion.ejs
  src/pages-content/curso-docker/content.ejs
  src/pages-content/curso-docker/faqs.ejs
Due: npm run i18n:extract

Translate q assurance
  src/curso-quality-assurance.html
  src/locales/en.json
  src/locales/es.json
  src/pages-content/curso-quality-assurance/benefits.ejs
  src/pages-content/curso-quality-assurance/content.ejs
  src/pages-content/curso-quality-assurance/explore-errors.ejs
  src/pages-content/curso-quality-assurance/faqs.ejs
  src/pages-content/curso-quality-assurance/is-for.ejs
Due: npm run i18n:extract

Translate program acceleration
  src/locales/en.json
  src/locales/es.json
  src/pages-content/bootcamp/benefits.ejs
  src/pages-content/bootcamp/content.ejs
  src/pages-content/bootcamp/faqs.ejs
  src/pages-content/bootcamp/methodoly.ejs
  src/programa-de-aceleracion.html
Due: npm run i18n:extract

Translate image hero
  src/pages-content/home/hero.ejs
Due: npm run i18n:extract

Translate good-cheap-fast image
  src/pages-content/curso-legacy/benefits.ejs
  src/pages-content/curso-tdd/benefits.ejs
Due: npm run i18n:extract

Rename url based on language just for english
  build/build.mjs
  build/url-resolver.mjs
  public/sitemap.xml
  src/partials/header/header.ejs
Due: npm run i18n:extract

Fix commands tests
  cypress/support/commands.js
Due: eslint --fix

Add select language switcher
  src/js/common/dropdown.js
  src/partials/header/navbar.ejs
  src/sass/layout/_main.scss
Due: eslint --fix, npm run i18n:extract

Can switch languahge
  src/js/404.js
  src/js/bootcamp.js
  src/js/common/dropdown.js
  src/js/course.js
  src/js/development.js
  src/js/resources.js
  src/js/site.js
  src/js/style-guide.js
  src/partials/header/navbar.ejs
Due: eslint --fix, npm run i18n:extract

Fix locale when user changes from es to english o viceversa
  build/build.mjs
  build/url-resolver.mjs
  build/url-translated.mjs
  src/js/common/dropdown.js
Due: eslint --fix

Fix locale in html lang
  build/utils.mjs
Due: none

Add metatags for alternate languages
  src/curso-docker.html
  src/curso-legacy-code.html
  src/curso-quality-assurance.html
  src/curso-refactoring-a-patrones.html
  src/curso-tdd.html
  src/desarrollo.html
  src/index.html
  src/partials/langs_alternate.ejs
  src/programa-de-aceleracion.html
  src/resources.html
  src/servicios.html
  src/style-guide.html
  src/tdd-challenge.html
Due: npm run i18n:extract

Fix locale when user changes from es to english o viceversa
  build/url-translated.mjs
  build/utils.mjs
  src/js/common/dropdown.js
Due: eslint --fix

remove Jose, Hugo and Raúl from the web
  src/pages-content/common/teams.ejs
  src/pages-content/curso-docker/methodology.ejs
  src/pages-content/curso-legacy/methodology.ejs
  src/pages-content/curso-quality-assurance/methodology.ejs
  src/pages-content/curso-refactoring-a-patrones/methodology.ejs
  src/pages-content/curso-tdd/methodology.ejs
  src/sass/course/_team.scss
  src/sass/layout/_main.scss
Due: npm run i18n:extract

remove the need to install dependencies locally
  .gitignore
  Dockerfile
  docker-compose.yml
Due: none

remove volumes from makefile
  Makefile
Due: none

Path conditions:
  eslint --fix: any of: *.js
  npm run i18n:extract: any of: *.{html,ejs}
