Repository CodiumTeam/web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npm run i18n:extract

update landing with more training approach
  build/extract-i18n.mjs
  package-lock.json
  src/index.html
  src/locales/en.json
  src/locales/es.json
  src/pages-content/home/available-courses.ejs
  src/pages-content/home/hero.ejs
  src/pages-content/home/our-services.ejs
  src/partials/cards/card-team.ejs
  src/sass/layout/_hero.scss
  src/sass/layout/_main.scss
Due: npm run i18n:extract

update github action steps
  .github/workflows/github-pages.yml
Due: none

trying to get the pipeline working again
  Dockerfile
  docker-compose.yml
Due: none

Revert "trying to get the pipeline working again"
  Dockerfile
  docker-compose.yml
Due: none

Trying to remove /dist directory before to build
  Makefile
Due: none

try again
  Dockerfile
Due: none

Hugo is back to the team!
  src/pages-content/common/teams.ejs
  src/pages-content/curso-docker/methodology.ejs
  src/pages-content/curso-legacy/methodology.ejs
  src/pages-content/curso-refactoring-a-patrones/methodology.ejs
  src/pages-content/curso-tdd/methodology.ejs
  src/sass/course/_team.scss
  src/sass/layout/_main.scss
Due: npm run i18n:extract

increase symmetry
  src/index.html
  src/pages-content/home/our-clients.ejs
Due: npm run i18n:extract

fix problem building docker image for development
  Dockerfile
  Makefile
  docker-compose.yml
Due: none

add run-production make target
  Makefile
Due: none

revert package-lock.json to fix docker webpage
  package-lock.json
Due: none

create product-engineer template
  src/curso-product-engineer.html
  src/pages-content/curso-product-engineer/benefits.ejs
  src/pages-content/curso-product-engineer/carousel-clients.ejs
  src/pages-content/curso-product-engineer/carousel-opinion.ejs
  src/pages-content/curso-product-engineer/content.ejs
  src/pages-content/curso-product-engineer/faqs.ejs
  src/pages-content/curso-product-engineer/methodology.ejs
Due: npm run i18n:extract

link the product engineer training
  src/index.html
  src/locales/en.json
  src/locales/es.json
  src/partials/header/landing-navbar.ejs
Due: npm run i18n:extract

show "new" in the link to product engineer
  src/index.html
  src/locales/en.json
  src/locales/es.json
  src/partials/header/landing-navbar.ejs
Due: npm run i18n:extract

remove online from "Front-end workshop"
  cypress/support/commands.js
  src/index.html
  src/locales/en.json
  src/locales/es.json
  src/partials/header/landing-navbar.ejs
Due: eslint --fix, npm run i18n:extract

add content of product engineer
  src/pages-content/curso-product-engineer/content.ejs
Due: npm run i18n:extract

landing: change Hero texts to talk to a CTO about our value proposal and inspirational
  src/locales/en.json
  src/locales/es.json
  src/pages-content/home/hero.ejs
Due: npm run i18n:extract

landing: fix hero image top margin
  src/sass/layout/_hero.scss
Due: none

relabel "our trainings" to "empower your team's skills"
  src/404.html
  src/locales/en.json
  src/locales/es.json
  src/pages-content/home/available-courses.ejs
Due: npm run i18n:extract

add "challenges" section with responsive design and translations
  src/index.html
  src/locales/en.json
  src/locales/es.json
  src/pages-content/home/challenges.ejs
  src/sass/_challenges.scss
  src/sass/site.scss
Due: npm run i18n:extract

update icons in "challenges" section for improved appearance and consistency
  src/pages-content/home/challenges.ejs
Due: npm run i18n:extract

update "challenges" section text and translations for improved clarity and engagement
  src/locales/en.json
  src/locales/es.json
  src/pages-content/home/challenges.ejs
Due: npm run i18n:extract

first step of solutions offered
  src/index.html
  src/pages-content/home/solutions.ejs
  src/sass/_solutions.scss
  src/sass/site.scss
Due: npm run i18n:extract

improve solution texts
  src/pages-content/home/solutions.ejs
  src/sass/_solutions.scss
Due: npm run i18n:extract

add solutions translations
  src/locales/en.json
  src/locales/es.json
  src/pages-content/home/solutions.ejs
Due: npm run i18n:extract

fix missing translation
  src/pages-content/home/our-services.ejs
Due: npm run i18n:extract

Update markup
  src/pages-content/home/solutions.ejs
  src/sass/_solutions.scss
Due: npm run i18n:extract

add button to let talk button
  src/locales/en.json
  src/locales/es.json
  src/pages-content/home/solutions.ejs
Due: npm run i18n:extract

reorder sections on the index
  src/index.html
Due: npm run i18n:extract

Hugo is no longer in the team
  src/pages-content/common/teams.ejs
  src/pages-content/curso-docker/methodology.ejs
  src/pages-content/curso-legacy/methodology.ejs
  src/pages-content/curso-refactoring-a-patrones/methodology.ejs
  src/pages-content/curso-tdd/methodology.ejs
  src/sass/course/_team.scss
  src/sass/layout/_main.scss
Due: npm run i18n:extract

remove our services from the web
  cypress/e2e/pages/home/our-services-navigation.spec.js
  src/404.html
  src/index.html
  src/pages-content/home/available-courses.ejs
  src/pages-content/home/challenges.ejs
  src/pages-content/home/our-services.ejs
Due: eslint --fix, npm run i18n:extract

hide Twitter urls
  src/partials/cards/card-team.ejs
Due: npm run i18n:extract

add IA and DevEx to empower the team
  src/pages-content/home/solutions.ejs
Due: npm run i18n:extract

add missing translations
  src/locales/en.json
  src/locales/es.json
Due: none

fix padding on the new blocks
  src/sass/_challenges.scss
  src/sass/_solutions.scss
Due: none

solutions texts reworked
  src/locales/en.json
  src/locales/es.json
  src/pages-content/home/solutions.ejs
Due: npm run i18n:extract

Remove description from the card
  src/locales/en.json
  src/locales/es.json
  src/pages-content/home/available-courses.ejs
  src/partials/cards/card-large-course.ejs
  src/partials/cards/card-large.ejs
Due: npm run i18n:extract

Update the numbers until the end of August 2025. (added 3 more clients than real, do not increase them next time :D)
  src/partials/summary-by-numbers.ejs
Due: npm run i18n:extract

values updated
  src/locales/en.json
  src/locales/es.json
  src/pages-content/home/values-and-methodology.ejs
Due: npm run i18n:extract

Path conditions:
  eslint --fix: any of: *.js
  npm run i18n:extract: any of: *.{html,ejs}
